# node
node_modules/
.env

# python
__pycache__/
*.pyc
.venv/
venv/

# hardhat
artifacts/
cache/

# zkp build outputs
zkp-circuits/output/

# macos
.DS_Store
deployed_addresses.json
zkp-circuits/proof_log.json
zkp-circuits/input.json
